body{
	background-color:#6e23a8;
}
#space{
	margin-top:70px;
}
#entity{
	width:1200px;
	height:250px;
	margin-left:90px;
	margin-right:150px;
	background-color:#e0d7e0;
	border-radius:5px;
}
#entity-icon{
	border-radius:5px;
	margin:15px;
	float:left
}
#info{
	display:inline-block;
	margin:15px;
	background-color:white;
	width:840px;
	height:220px;
	border-radius:10px;
	text-align:center;
}
#content{
	height:180px;
}
#btn{
	width:400px;
	margin-left:230px;
	background-color:yellow;
}
#more_info_btn{
	background-color:#6e23a8;
}
#name{
	font-size:40px;
}
#type,#link,#rate{
	font-size:25px;
}
#footer{
	text-align:center;
}